@{
    ViewData["Title"] = "Home Page";
}

    <form action="~/Home/CreateUser" method="post">
        <input name="UserName" placeholder="name" />
        <br />
        <input name="Password" placeholder="password" type="password" />
        <br />
        <input name="Email" placeholder="email" />
        <br />
        <input type="submit" value="Submit"/>
    </form>
